<div id="profile_info">
    <img id = 'profile_picture' src='/propics/default.jpg' class='profilestyle'>
    <p id='name'>-</p>
    <div class = "info_section">
        <h2 style="border-bottom: 1px solid #6d6d6d; padding-left: 10px;"> Overview: </h2>
        <div style="padding-left: 15px;">
            <ul class="list-unstyled">
                <li>
                    <h5>Last Time Online (UTC): </h5>
                    <p id='recent_log_in'>-</p>
                </li>
                <li>
                    <h5>Total Number of Pictures Tagged: </h5>
                    <p id='pics_done'>0</p>
                </li>
                <li>
                    <h5>Total Number of Tags Placed: </h5>
                    <p id='tags_done'>0</p>
                </li>
                <li>
                    <h5>Member Since: </h5>
                    <p id='reg_date'>-</p>
                </li>
            </ul>
        </div>
    </div>

    <div class = "info_section">
        <h2 style="border-bottom: 1px solid #6d6d6d; padding-left: 10px;"> Personal Bio: </h2>
        <div style="padding-left: 15px;">
            <p id='bio' style='color:#57068C;'> -</p>
        </div>
    </div>

    <div class = "info_section">
        <h2 style="border-bottom: 1px solid #6d6d6d; padding-left: 10px;"> Personal Info: </h2>
        <div style="padding-left: 15px;">
            <ul class="list-unstyled">
                <li>
                    <h5>Occupation: </h5>
                    <p id='occupation'>-</p>
                </li>
                <li>
                    <h5>Education: </h5>
                    <p id='education'>-</p>
                </li>
                <li>
                    <h5>Current Location: </h5>
                    <p id='lives_in'>-</p>
                </li>
                <li>
                    <h5>Hometown: </h5>
                    <p id='is_from'>-</p>
                </li>
            </ul>
        </div>
    </div>

    <div class = "info_section">
        <h2 style="border-bottom: 1px solid #6d6d6d; padding-left: 10px;"> Contact Information: </h2>
            <div style="padding-left: 15px;">
                <ul class="list-unstyled">
                    <li>
                        <h5>Phone: </h5>
                        <p id='phone'>-</p>
                    </li>
                    <li>
                        <h5>Email: </h5>
                        <p id='public_email'>-</p>
                    </li>
                </ul>
            </div>
    </div>

  

    
</div>