<ul class="nav navbar-nav navbar-right">
  <li style="padding-top: 15px;
    padding-bottom: 15px; position: relative; display: block; text-decoration: none; background: 0 0; line-height: 20px;">Welcome!</li>
  <li><a href="/logout">Sign Out</a></li>
  <!--<li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>-->
</ul>
