<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <% include ../partials/css %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <main>
    <%- include('../partials/main-jumbotron') %>
    <div class="container content">
      <h1>Consent Form</h1>
      <p>You have been invited to take part in a research study to learn more about the environmental status of the Gowanus Canal. Your participation as a citizen scientist will help us understand the current status of the canal and how to improve information quality from crowdsourced data.<br><br>If you agree to take part in this study, you will be asked to do the following:<br></p>
        <ol style="color:#0981A7">
          <li><p>Categorize objects in 30 pictures as ‘threat’ or ‘no threat’ to the environment in 5 seconds for each picture.</p></li>
          <li><p>Fill in a short survey about your environmental awareness, zip code, and highest educational level.</p></li>
        </ol><p>The whole activity will take approximately 5 minutes, but you are free to withdraw anytime during the activity. Your activity will be recorded, and the confidentiality of your records will be maintained by keeping all data in our secured data storage. If you choose to withdraw, your activity and/or survey responses will be discarded. This activity will not incur any risks. There will no monetary compensation for your time, but your effort will help improve the environment.
        </p>
    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
  <last>
    <% include ../partials/scripts %>
  </last>
</body>
</html>