<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <% include ../partials/css %>
</head>
<body>
  <header>
    <%- include('../partials/header-'.concat(auth?'':'no').concat('auth')) %>
  </header>
  <main>
    <%- include('../partials/main-jumbotron') %>
    <div class="container content" style="max-width: 768px;">
      <h1>Contact</h1><br>
      <p> Contact us at: </p>
      <ul style="list-style: none; color:#0981A7">
        <li><b>Dynamical Systems Laboratory</b><br>
            Department of Mechanical and Aerospace Engineering<br>
            New York University Tandon School of Engineering<br>
            6 MetroTech Center, Brooklyn, NY 11201<br>
            <address><a class='mail' href='rbv215@nyu.edu'>email</address></li>
      </ul>
    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
  <last>
    <% include ../partials/scripts %>
  </last>
</body>
</html>