<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <% include ../partials/css %>
</head>
<body>
  <header>
    <%- include('../partials/header-'.concat(auth?'':'no').concat('auth')) %>
  </header>
  <main>
    <%- include('../partials/main-jumbotron') %>
    <div class="container content" style="max-width: 768px;">
      <h1>Past Studies</h1>
      <p>Here is a list of past studies: </p>
        <ul style="list-style: none; color:#0981A7">
          <li><b>Study 1 - Threat or No Threat</b><br>
            <a href = "https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0211907">Torre, Marina, et al. "Producing knowledge by admitting ignorance: Enhancing data quality through an “I don’t know” option in citizen science." PloS one 14.2 (2019): e0211907. </a> <br>
            <p style="text-align:center">To view and test the application, <a href = "/practice">click here. </a> </p> <br>
          </li>
          <li><b>Study 2</b><br>
              <br>
          </li>
        </ul> <br>
    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
  <last>
    <% include ../partials/scripts %>
  </last>
</body>
</html>