<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <% include ../partials/css %>
</head>
<body>
  <header>
    <%- include('../partials/header-'.concat(auth?'':'no').concat('auth')) %>
  </header>
  <main>
    <%- include('../partials/main-jumbotron') %>
    <div class="container content" style="max-width: 768px;">
      <h1>Past Studies</h1>
      <p>Below is a list of past studies we made on the Gowanu canal.</p>
        <ul style="list-style: none; color:#0981A7">
          <li><b>Study 1 - Threat or No Threat</b><br>
            <a href = "https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0211907">Torre, M., Nakayama, S., Tolbert, T., Porfiri, M., 2019: "Producing knowledge by admitting ignorance: enhancing data quality through an "I don’t know" option in citizen science", PLoS ONE 14(2), e0211907</a> <br>
            <p style="text-align:center">To view and test the application, <a href = "/practice">click here. </a> </p> <br>
          </li>
        </ul> <br>
    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
  <last>
    <% include ../partials/scripts %>
    <% if (id != -1) { %>
      <script src="/socket.io/socket.io.js"></script> 
      <script>
          var socket = io.connect('http://127.0.0.1:8080');
          socket.on('connect',function(data){
              socket.emit('join','Hello world from past_studies. ');
          });
  
          socket.on('messages', function(data){
              console.log(data);
          });
  
          window.onbeforeunload = function() {
              socket.emit('dataLogger', [<%- id %>, "exit", "past_studies", ""]);
          }
      </script>
    <% } %>
  </last>
</body>
</html>