<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <% include ../partials/css %>
  <style>
      .content {
      max-width: 513px;
    }
    @media (max-width: 500px) {
      .content {
        max-width: 352px;
      }
    }

    @media (min-width: 992px) {
      .content {
        max-width: 768px;
      }
    }#buttons {
      background-color: #57068c;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  </style>
</head>
<body>
  <header>
    <%- include('../partials/header-'.concat(auth?'':'no').concat('auth')) %>
  </header>
  <main>
    <%- include('../partials/main-jumbotron') %>
    <div class="container content" style="text-align:center">
      <h1>My Profile</h1> 
      <div style="text-align:center; position: relative; max-width:384px; margin: 0 auto;">
        <% if (errmsg) {%>
          <p> <%= errmsg %> </p>
        <% } %>
        <div style="border-left: 1px solid #eee; width: 1px; position: absolute; left: 45px; height: 100%;"></div>
       </div>
      <p>Welcome to your profile. <%- name %> </p> 
      <p>Please select from one of the following activities below. </p>
        <form action='/tag', method='GET', style="max-width:384px; margin: 0 auto;"> <!-- /tag is not yet implemented-->
            <div>
                <button type="submit" id="buttons">Tag Pictures</button>
            </div>
        </form>
        <form action='/edit', method='GET', style="max-width:384px; margin: 0 auto;"> <!-- /Edit is not yet implemented-->
            <div>
                <button type="submit" id="buttons">Show & Edit Your Information</button>
            </div>
        </form>
    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
  <last>
    <% include ../partials/scripts %>
  </last>
</body>
</html>