<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
  <% include ../partials/css %>
    <style>
    .content {
      max-width: 513px;
    }
    @media (max-width: 500px) {
      .content {
        max-width: 352px;
      }
    }

    @media (min-width: 992px) {
      .content {
        max-width: 768px;
      }
    }
  </style>
</head>
<body>
  <header>
    <%- include('../partials/header-'.concat(auth?'':'no').concat('auth')) %>
  </header>
  <main>
    <%- include('../partials/main-jumbotron') %>
    <div class="container content">
      <h1>Thanks for your participation!</h1>
      <form action='/survey' method='POST'>
        <fieldset class="form-group">
          <legend>Lastly, we would appreciate if you could tell us more about you.</legend>

          <label class="form-check-label">I care about the environment.</label>
          <input type="range" class="form-control-range" min = "0" max = "100" id="environment">

          <br>

          <label class="form-check-label">I enjoy tagging images.</label>
          <input type="range" class="form-control-range" min = "0" max = "100" id="enjoy"> 

          <br>

          <label class="form-check-label">Brooklyn Atlantis' objective is relevant to my career.</label>
          <input type="range" class="form-control-range" min = "0" max = "100" id="career">

          <br>

          <label class="form-check-label">The interface is intuitive and easy to use.</label>
          <input type="range" class="form-control-range" min = "0" max = "100" id="easy">

          <br>

          <label class="form-check-label">I would like to keep contributing to Brooklyn Atlantis.</label>
          <input type="range" class="form-control-range" min = "0" max = "100" id="enjoy">

        </fieldset>

        <br>
        <!--
        <div class="form-check" style="color:#8C21D1;">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="futurehelp">
             (Optional) Email me about other citizen science projects in the future.
By checking this, we will email you if we need your help again in the future to improve the Gowanus Canal
          </label>
        </div>
      -->

        <br>
        <div style="text-align:center">
          <button type="submit" id="submit" style="padding: 3px 9px;">Submit</button>
        </div>
      </form>
    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
  <last>
    <% include ../partials/scripts %>
  </last>
</body>
</html>